[flake8]
max-line-length = 88
extend-ignore = E203, W503

# Ignore directories and files
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    migrations,
    generated,
    docs

# Only lint Python files
filename = *.py

